block content
    .error-404.container.text-center
        img(src="/img/leaseCaptainLogo.png")
        h1 404
        h3 Page Not Found
        p The page you are trying to reach could not be found.
