.DS_Store
node_modules/
dist/
# npm-debug.log
coverage/
uploads/
public/
documents/
files/
passenger.3000.log
passenger.3000.pid.lock
sdk-node.log
tsys_runs/tsys_runs.txt
logs/
.nyc_output
.vscode/
.idea/
local/
*-copy*
*.env
!test.env
junit_report/

# Docker
docker/mysql/data/
docker/mysql/docker-entrypoint-initdb.d/
