body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h4{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #252a2b;
    margin: 10px 0 20px 0;
}

h2 {
    font-weight: 600px;
    color: #0277BD;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    border-bottom: 1px solid #e2e2e2;
    line-height: 24px;
}

.btn.btn-trigger {
    color: #263238;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #f5f7f8;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
}

.btn.btn-unselected {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 2px;
    font-size: 12px;
    color: #a0a0a0;
    background-color: white;

    border: 1px solid #e2e2e2;
}

.form-control{
    border: 1px solid #e2e2e2;
}

.frontend .row.search-form {
    background-color: white;

}
.frontend .search-section .input-group {
    margin-bottom: 10px;
}

.frontend .search-section .input-group:last-child {
    margin-bottom: 0;
}

.frontend .search-section {
    padding: 0px 15px;
}
.frontend .multi-select.open>.dropdown-menu {
    display: block;
    width: 100%;
}

.frontend .multi-select.open>.dropdown-menu li{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.frontend .multi-select.open>.dropdown-menu li:hover,

.frontend .multi-select.open>.dropdown-menu li.active{
    background-color: #f5f7f8;
}


.frontend .search-section .btn-group.btn-block button.btn.btn-default {
    width: 275px;
    text-align: left;
    border: 1px solid #e2e2e2;
    width: 100%;
    text-align: left;
    margin-right: -33px;
}

.frontend .search-section .btn-group.btn-block button.btn.btn-default:active,
.frontend .search-section .btn-group.btn-block button.btn.btn-default:hover,
.frontend .search-section .btn-group.btn-block button.btn.btn-default:focus {
    z-index: 0;
    background-color: white;
}

.frontend .border-right {
    border-right: 1px solid #e2e2e2;
    margin: 12px 0;
    min-height: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.frontend .border-right:last-child{
    border:none;
}
.frontend .rent-amt{
    padding: 0;
    margin-top: 25px;
}
.frontend .rent-amt.spacer{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}
.frontend .rent-amt input[type="text"] {
    height: 34px;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-left: none;
    font-size: 14px;
}


.frontend .search-section .input-group-addon{
    color: #00b2ce;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
    border-radius: 2px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.frontend .search-section .input-group-addon:first-child {
    border-left: 1px solid #e2e2e2;
}
.frontend .search-section .input-group-addon:last-child {
    border-right: 1px solid #e2e2e2;
}

.frontend .search-section .input-group-addon:not(:first-child):not(:last-child)
{
    border-left: none;
    border-right: none;
}

body .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
body .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
body .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
    border-color: #00b2ce;
}

body .vdp-datepicker__calendar .cell.selected {
    background: #00b2ce;
    color: white;
}


.vdp-datepicker__calendar header span {
    background: #f5f7f8;
}
.vdp-datepicker__calendar {
    top: 33px;
}

body  .input-group .vdp-datepicker .form-control,
body .input-group .vdp-datepicker  .form-control:focus{
    padding-left: 10px;
    border-left: 1px solid #e2e2e2;
}


body span.cell.day.blank {
    background-color: #f5f7f8;
}


.frontend input[readonly] {
    background-color:white;
}
.frontend .datepicker-wrapper input.form-control {
    border-right: none;
    padding-left: 10px;
    border-left: 1px solid #e2e2e2;
}

.frontend .individual-unit {
    padding: 5px;
    border: 1px solid #e2e2e2;
    margin-bottom: 30px;
    position: relative;
    width: 250px;
    float: left;
    background-color: white;
}

.frontend .tabs ul li.active {
    border-bottom: 1px solid #00b2ce;
}
.frontend .tabs ul li.active a {
    color: #00b2ce;

}

.v-spinner.loading {
    width: 100px;
    margin: 0 auto;
}

.v-spinner.inline-loader {
    display: inline-block;
    vertical-align: middle;
    margin: auto 10px;
}

.individual-unit{
    cursor: pointer;
}

.row.row-head{
    border-bottom: 1px solid #e2e2e2;
    padding-top: 15px;
    padding-bottom: 15px;
}

h5{

    border-bottom: none;
    padding: 0 0 10px 0px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.notification{
    text-align: center;
    clear: both;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    float: left;
}

.info-section{
    background-color: #e4eff4;
    border: 1px solid #a2c4d3;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.info-section-sm{
    background-color: #e4eff4;
    border: 1px solid #a2c4d3;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-section .info-section-header{
    border-bottom: 1px solid #a2c4d3;
    color: #00b2ce;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.info-section .info-section-header i{
    font-size: 16px;
}

.info-section .info-section-body{
    padding: 10px;
    font-size: 12px;
    color: #2d393f;

}
.info-section .info-section-body p:last-child{
    margin-bottom: 0;
}
.section .section-footer,
.info-section .info-section-footer{
    padding: 10px;
}


.section-header {
    padding-bottom: 25px;
}


.section {
    padding: 30px 50px;
}

.section.sidebar{
    padding: 30px 30px;
}

.row.lined {
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    background: white;
}
.sort-container .row{
    margin-left: 0;
    margin-right: 0;
}

.row.lined-top{
    border-top: 1px solid #e2e2e2;
    position: relative;
}

.row.row-tabs{
    padding-top: 0;
}

.section  .container-fluid .sort-container > .row,
.section  .container-fluid > .row{
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.section  .container-fluid .sort-container > .row .handle{
    cursor: move;
}
.sort-container {
    z-index: 0;
}

.section  .container-fluid .sort-container > .row .actions-holder a{
    cursor: pointer;
}

.sortable-ghost{
    background-color: #f5f7f8;
}

.actions-holder {
    display: block;
    position: absolute;
    right: 0px;
    height: 38px;
    margin-top: -19px;
    top: 50%;
}

.dropdown-menu {
    margin: 0px 0 0;
    border-radius: 2px;
}

.actions-holder a.dropdown-toggle {
    color: #788f9b;
    padding: 15px;
    text-align: center;
    display: block;
    float: right;
}

.actions-holder .dropdown-menu>li>a i{
    color: #a5adb4;
}
.actions-holder .dropdown-menu>li>a {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 9px 12px;
    clear: both;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.actions-holder .dropdown-menu>li:last-child>a {
    border-bottom: none;
}



.dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropup .dropdown-menu:before {
    position: absolute;
    bottom: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropup .dropdown-menu:after {
    position: absolute;
    bottom: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}





.multi-select .dropdown-menu:before,
.multi-select .dropdown-menu:after,
.input-group .dropdown-menu:after,
.input-group .dropdown-menu:before {
    border: none;
}



.vue-input-tag-wrapper .input-tag {
    background-color: #e4eff4 !important;
    border-radius: 2px;
    border: 1px solid #a2c4d3 !important;
    color: #00b2ce !important;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 3px;
}
.vue-input-tag-wrapper .input-tag .remove {
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    color: #478FCC !important;
}

.container{
    max-width: 100%;
}



.dropdown-menu.dropdown-modal,
.dropdown-modal {
    padding: 20px 20px 5px 20px;
    width: 325px;
}

.dropdown-modal h5{
    color: #0277BD;
}
.dropdown-modal p{
    font-size: 12px;
}




.small button.btn {
    padding: 3px 7px;
    font-size: 13px;
}

.frontend .row .tabs{
    background:#f5f5f5;
    border-top:none;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 0;
}
.frontend .tabs li{
    text-align: center;

}
.frontend .tabs li a{
    background:#f5f5f5;
}

.separator{
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
.form-control.inline{
    display:inline-block;
    vertical-align: middle;
}
/*************** Wizard Styles ***********/

.wizard-steps .wizard-icon-holder{
    text-align: center;
}

.wizard-steps  .wizard-icon-holder .wizard-icon{
    display:inline-block;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
}

.wizard-steps .wizard-icon-holder .wizard-icon{
    color: #788f9b;
    background-color: white;
    border: 2px solid #fff;
}
.wizard-steps h4{
    margin: 5px 0 5px;
    color: #788f9b;
}

.wizard-steps .active .wizard-icon-holder .wizard-icon{
    /* background-color: #00b2ce;
    color: white;
    */

    color: #00b2ce;
    background-color: white;
    border: 2px solid #00b2ce;

}

.wizard-steps .active h4{
    color: #00b2ce;
}

.wizard-steps .visited .wizard-icon-holder .wizard-icon{
    background-color: #00b2ce;
    color: white;

}

.wizard-steps .visited h4{
    color: #00b2ce;
}


.wizard-steps p{
    margin: 0px 0;
    line-height: 18px;
}
.wizard-description {
    text-align: center;
}
.row.wizard-steps {
    padding: 0;
    margin-bottom: 30px;
}
/********** end wizard Styles ***************/


.buttons a{
    cursor: pointer;
    padding: 7px 10px;
    display: block;
    border-bottom: 1px solid #a2c4d3;
}

.buttons.section a:last-child{
    border-bottom: none;
}
.buttons.section{
    background: #e4eff4;
    box-shadow: none;
    padding: 15px 20px;
}

body .row.display-head {
    background-color: #e4eff4;
    border: 1px solid #e4eff4;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 2px;
    color: #252a2b;
    font-weight: 600;

    text-transform: uppercase;

}

/****  popup calendar Styles *****/
body .calendar .cell.day-header:hover,
body .calendar .cell.day-header {
    background-color: #f5f7f8;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

body .calendar .cell{
    height: 30px;
    line-height: 30px;
    background: white;
}
body .calendar header {
    line-height: 30px;

}
body .calendar header .next,
body .calendar header .prev,
body .calendar header span {
    background: #00b2ce;
    color: white;
    font-weight: 600;
}
body .calendar header .next:not(.disabled):hover,
body .calendar header .prev:not(.disabled):hover,
body .calendar header .up:not(.disabled):hover {
    background: #0277BD;
    color: white;
}

body .calendar .cell.selected, body  .calendar .cell.selected.highlighted, body  .calendar .cell.selected:hover {
    background: #00b2ce;
    color: white;
}
body .calendar .cell:not(.blank):not(.disabled).day:hover, body .calendar .cell:not(.blank):not(.disabled).month:hover, body .calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #00b2ce;

}

body span.cell.day.blank {
    background-color: #f5f7f8;
}
body .calendar {
    background: #f5f7f8;
    width: 250px;
}

body .calendar header .next:after {
    border-left: 10px solid #fff;
}
body .calendar header .prev:after {
    border-right: 10px solid #fff;
}

/**** END Popup calendar Styles *****/



.sm-label{
    display: inline-block;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0277BD;
    background-color: white;
    border-color: #0277BD;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border: 1px solid #0277BD;
}




/*** Application Form Styles ***/

body .application-container button.btn.btn-trigger,
body .application-container button.btn.btn-default {
    background: #f5f5f5;
    border: none;
    height: 40px;
    font-weight: 600;
}


body .application-container .multi-select.open>.dropdown-menu li {
    font-size: 13px;
    padding: 8px 13px;
}


/*** Application Form Styles ***/


.billing-history .container-fluid > .row{
    border-bottom: 1px solid #e2e2e2;
    padding-top: 10px;
    padding-bottom: 10px;
}

body .billing-history .container-fluid > .row.display-head {
    background-color: #e4eff4;
    border: 1px solid #e4eff4;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 2px;
    color: #252a2b;
    font-weight: 600;

    text-transform: uppercase;
}



@media (max-width: 893px){
    .nav-wrapper {
        transform: translateX(-225px);
    }
    .content-container {
        margin-left: 0px;
    }

    .section {
        padding: 15px 20px;
    }
}


@media (min-width: 893px){
    .container {
        width: 750px;
    }

}

@media (min-width: 1240px){
    .container {
        width: 970px;
    }

}



@media (min-width: 1425px){
    .container {
        width: 1170px;
    }
}


@media (max-width: 767px){
    .frontend .individual-unit{
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 398px;
        max-width: 100%;


    }
    .frontend .unit-img{
        height: 270px;
    }
}
@media (max-width: 600px){


    .section {
        padding: 10px 5px;
        border-radius: 0px;
    }

    #content {
        padding: 20px 0px 20px;
        max-width: 100%;
    }

    .buttons.section {
        background: #e4eff4;
        box-shadow: none;
        padding: 15px 20px;
        margin-bottom: 10px;
    }
    .billing-history {
        padding: 10px 5px;
    }

    #content.container > .row > div[class^='col-'] {
        padding-left: 0;
        padding-right: 0;
    }

    body .main #content.container > .row > div.lease-sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }


}




